html {
  height: 100vh;
  width: auto;
}
body {
  display: grid;
  place-items: center;
  height: 100%;
  width: auto;
}
#mainContainer {
  width: 40%;
  height: 40%;
  display: grid;
  grid-template-columns: 0.5fr 0.25fr 0.25fr;
  grid-template-rows: repeat(4, 1fr);

  grid-template-areas:
    "gridCalcDisplay gridClear gridEqual"
    "gridNumContainer gridPlus gridMinus "
    "gridNumContainer gridDivide gridMultiply"
    "gridNumContainer gridDecimalButton .";
}
#numContainer {
  grid-area: gridNumContainer;
  /*   width: 30%;
  height: 30%; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "numButton9 numButton8 numButton7"
    "numButton6 numButton5 numButton4"
    "numButton3 numButton2 numButton1"
    "numButton0 numButton0 numButton0";
}
.numButtons {
  background-color: aquamarine;
}
.operatorButtons {
  background-color: orange;
}

#clearButton {
  grid-area: gridClear;
  background-color: forestgreen;
}
#add {
  grid-area: gridPlus;
}
#substract {
  grid-area: gridMinus;
}
#multiply {
  grid-area: gridMultiply;
}
#divide {
  grid-area: gridDivide;
}
#equalButton {
  grid-area: gridEqual;
}
calcDisplay {
  grid-area: gridCalcDisplay;
border-style: solid;
  border-radius: 10px;
  border-color: black;
}
#decimalButton{
  grid-area: gridDecimalButton;
}
#backspaceButton{
  grid-area: gridBackspaceButton;
}